.displayModal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.25);
}

.modalBgArticle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;

    input {
        padding: 10px;
        background-color: aliceblue;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    .inputArticle::placeholder {
        font-size: 9px;
    }

    .code {
        grid-column: 1 / 4;
    }

    .libelle {
        grid-column: 4 / 14;
    }

    .qtyCmd {
        grid-column: 1 / 4;
    }

    .tva {
        grid-column: 4 / 7;
    }

    .prixUnit {
        grid-column: 7 / 10;
    }

    .prixRemise {
        grid-column: 10/ 14;
    }



    button {
        position: fixed;
        right: 20px;
        border: none;
        background-color: transparent;
    }

    .closeButton {
        top: 20px;
        height: 25px;
        width: 25px;
        background-image: url('../../assets/close.svg');
    }

    .saveButton {
        bottom: 20px;
        height: 25px;
        width: 25px;
        background-image: url('../../assets/save.svg');
    }
}

.gridModalArticle {
    margin: 50px 0;
    column-gap: 5px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(14, 35px);
}
