    .tableDisplay {
        padding: 10px 30px;
        background-color: white;
        border-radius: 20px;
        max-height: calc(100vh - 100px);
        overflow: hidden;
    }

    .titleDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .newArticleBtn {
            border: 2px solid hsl(345deg 70% 55%);
            border-radius: 5px;
            padding: 3px 7px;
            background-color: hsl(345deg 70% 55%);
            transition: background-color 0.3s ease, color 0.3s ease;
            font-size: 15px;
            color: white;
        }
    }

    .tableContainer {
        max-height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }

    .tableDashboard {
        background-color: white;
        border-collapse: collapse;
        width: 100%;

        tbody {
            max-height: calc(100vh - 300px);
        }

        thead th {
            font-weight: 600;
            color: rgb(96, 96, 96);
            background-color: white;
            padding: 10px 5px;
            text-align: start;
            position: sticky;
            top: 0;
            z-index: 2;
        }

        td {
            border: none;
            border-top: 1px solid rgb(202, 202, 202);
            border-bottom: 1px solid rgb(232, 232, 232);
            padding: 10px 0 10px 5px;
            font-size: 14px;
        }

        .largeCol {
            padding-right: 50px;
        }

        .smallCol {
            padding-right: 25px;
            white-space: nowrap;
        }
    }

    .deleteRow {
        border: none;
        background-color: transparent;
        height: 20px;
        width: 20px;
        background-image: url('../../assets/bin.svg');
        margin-right: 5px;
    }

    .editRow {
        border: none;
        background-color: transparent;
        height: 20px;
        width: 20px;
        background-image: url('../../assets/pen.svg');
    }


    /* Switch button */
    .switchFormat3 {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: end;

        #switch3 {
            height: 0;
            width: 0;
            visibility: hidden;
            margin: 0;
        }

        #switch3:disabled+label {
            background-color: grey;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 35px;
            height: 15px;
            background: #c3c3c3;
            display: block;
            border-radius: 50px;
            position: relative;
        }

        label:after {
            content: '';
            position: absolute;
            top: 2.5px;
            left: 2.5px;
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: 90px;
            transition: 0.3s;
        }

        #switch3:checked+label {
            background: #bada55;
        }

        #switch3:checked+label:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
        }

        label:active:after {
            width: 30px;
        }


    }