.bilanTicket {
    margin-top: 30px;

    .ticketGridBilan {
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(181, 181, 181);
    }

    .ticketAvRemise {
        font-size: 14px;
        color: #183c6e;
        font-weight: 700;
    }

    .secondColumn {
        text-align: end;
    }

    .colorRemise {
        color: rgb(92, 141, 18);
    }

    .ticketTotalPrix {
        font-size: 16px;
        color: #183c6e;
        font-weight: 700;
    }

    .ticketGridTVA {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 7px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .dashedBorder {
        border-top: 1px dashed black;
        border-bottom: 2px solid rgb(181, 181, 181);
        padding: 10px 0 15px 0;
    }
}