.input {
    margin: 15px 0;

    .titleInput {
        font-size: 13px;
        color: rgb(102, 102, 102);
        margin: 0 0 2px 2px;
    }

    .field {
        margin: 0;
        background-color: rgb(230, 230, 230);
        border: none;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 5px;
    }

    .selectTVA {
        border-radius: 5px;
        padding: 0;
    }
}

.form {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.submitEdit {
    border: 2px solid hsl(345deg 70% 55%);
    border-radius: 5px;
    padding: 3px 7px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}