.floatingButton {
    position: absolute;
    top: 40px;
    right: 40px;
}

.downloadButton {
    position: absolute;
    top: 40px;
    left: 40px;
}

.PNGButton {
    position: absolute;
    top: 280px;
    left: 40px;
}

.essentialList {
    position: absolute;
    top: 170px;
    left: 40px;
}

.copyButton {
    position: absolute;
    top: 100px;
    left: 40px;
}

.uploadButton {
    position: absolute;
    top: 100px;
    left: 40px;
    width: 160px;
    height: 40px;
    color: transparent;
    border-radius: 12px;
    padding: 0 0 5px 0;
    margin: 0;
    border: none;
    box-shadow: 0px 1px 4px black;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);

    label {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        border-radius: 12px;
        background-color: hsl(345deg 100% 47%);
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
        transition: background-color 200ms;
        color: white;
    }
}

/* .uploadButton {
    position: absolute;
    top: 160px;
    left: 40px;
    width: 130px;
    height: 50px;
    color: transparent;
    border-radius: 12px;
    padding: 0;
    border: 3px dashed hsl(345deg 100% 47%);
    margin: 0;

    label {
        display: block;
        width: 100%;
        height: 50%;
        cursor: pointer;
        text-align: center;
        line-height: 25px;
        border-radius: 12px;
        background-color: white;
        border: none;
        color: hsl(345deg 100% 47%);
    }
} */

.floatingButton:hover {
    cursor: url('../../assets/penis.svg'), auto;
}

.shuffleArticles {
    position: absolute;
    top: 425px;
    right: 40px;
    height: 40px;

    img {
        margin-left: 5px;
    }

    .displayflex {
        display: flex;
        align-items: center;
    }
}

.barCodesButton {
    position: absolute;
    top: 360px;
    right: 40px;
}

.a4Format {
    height: 292mm;
    width: 210mm;
    background-color: white;
    padding: 20px;
    position: relative;
}

.ticketFormat {
    padding: 20px 175px;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

/* Switch button */
.switchFormat {
    position: absolute;
    top: 210px;
    left: 40px;
    display: flex;
    align-items: end;

    .formatInput {
        margin: 0 10px;

    }

    p {
        margin-bottom: 7px;
    }

    #switch {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: #0d6efd;
        display: block;
        border-radius: 50px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 2.5px;
        left: 2.5px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    #switch:checked+label {
        background: #bada55;
    }

    #switch:checked+label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 30px;
    }
}