.managePicture {

    .gridDisposal {
        grid-template-columns: repeat(6, 1fr);
        margin: auto;
    }

    .fileCol {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .articleCol {
        grid-column: 1 / 5;
        grid-row: 1;
    }

    .eanCol {
        grid-column: 5 / 7;
        grid-row: 1;
    }

    .btnCol {
        grid-column: 4 / 7;
        grid-row: 2;
    }

    .fileField {
        height: 35px;
        background-color: transparent;
    }

    .fakeField {
        height: 22px;
        border-radius: 5px;
        font-size: 14px;
        padding: 5px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .container {
        grid-column: span 2;
        position: relative;
        width: 20%;
    }

    .container:hover .articleImage {
        filter: blur(2px);
    }

    .container:hover .deleteImage {
        opacity: 1;
    }

    .articleImage {
        height: 100px;
        width: 100%;
        box-sizing: border-box;
        background-color: rgb(215, 215, 215);
        object-fit: contain;
        padding: 5px;
        border-radius: 15px;
    }

    .deleteImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        width: 32px;
        height: 32px;
        pointer-events: none;
        background-color: white;
        border-radius: 50%;
        padding: 5px;
    }

    .warning {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
}