/* Switch button */
.switchFormat2 {
    position: absolute;
    top: -10px;
    left: 50px;
    display: flex;
    align-items: end;

    #switch2 {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    #switch2:disabled+label {
        background-color: grey;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 35px;
        height: 15px;
        background: rgb(179, 179, 179);
        display: block;
        border-radius: 50px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 2.5px;
        left: 2.5px;
        width: 10px;
        height: 10px;
        background:hsl(345deg 70% 55%);
        border-radius: 90px;
        transition: 0.3s;
    }

    #switch2:checked+label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 30px;
    }
}

.saveRow {
    height: 30px;
}