body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.secondaryBtn {
  border: 2px solid hsl(345deg 70% 55%);
  border-radius: 5px;
  padding: 3px 7px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}