.modalBgFacture {
    .gridModal {
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }

    .displayInput {
        position: relative;

        label {
            font-size: 10px;
            position: absolute;
            top: 4px;
            left: 12px;
            padding: 0 5px;
            background-color: white;
        }
    }

    input {
        width: 70%;
        font-size: 10px;
    }

    .positionRelative {
        position: relative;
    }

    .randomButton {
        position: absolute;
        top: 12px;
        right: 20px;
        border: none;
        background-color: transparent;
        height: 15px;
        width: 15px;
        background-image: url('../../../assets/random.svg');
    }

    .marginTopSelect {
        margin-top: 30px;
    }

    .marginBottom {
        margin-bottom: 15px;
    }

    select {
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(251, 251, 251);
    }

}

.divField {
    display: flex;
    justify-content: center;
    grid-column: span 2;
    position: relative;

    .removeUserBtn {
        position: absolute;
        bottom: 3px;
        right: 65px;
        border: none;
        background-color: transparent;
        height: 25px;
        width: 25px;
        background-image: url('../../../assets/delete.svg');
    }

    .divSelect {
        display: flex;
        justify-content: center;
        margin: 5px 20px;
    }

}

.addFieldBtn {
    position: absolute;
    bottom: 50px;
    left: 60px;
    border: none;
    background-color: transparent;
    height: 25px;
    width: 25px;
    background-image: url('../../../assets/plus.svg');
}