.modalBgFacture {
    padding: 0px 30px 60px 30px;


    .tableFormFacture {
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;

        .headerRow {
            background-color: hsl(345deg 100% 47%);
            border: 1px solid hsl(345deg 100% 47%);
            color: white;

            th {
                padding: 5px 15px;
                font-weight: 100;
                font-size: 15px;
                border: 1px solid hsl(345deg 100% 47%);
            }
        }

        tbody {
            tr {
                text-align: center;
                border-bottom: 1px solid rgb(189, 189, 189);
            }

            tr:last-child {
                border: none;
            }

            .greyCell {
                background-color: rgb(241, 240, 240);
            }
        }

        tfoot {
            background-color: hsl(345deg 100% 47%);
            height: 5px;
        }
    }

    input {
        width: 70%;
        font-size: 11px;
        margin: 5px 10px;
        border: none;
        background-color: transparent;
    }

    select {
        border: none;
    }

}

.divField {
    position: relative;

    .removeUserBtn {
        border: none;
        background-color: transparent;
        height: 25px;
        width: 25px;
        background-image: url('../../../assets/delete.svg');
    }

}

.addFieldBtn {
    border: none;
    background-color: transparent;
    height: 25px;
    width: 25px;
    background-image: url('../../../assets/plus.svg');
}