@media only screen and (hover: none) and (pointer: coarse) {
    .modalBgArticle {
        max-height: none !important;
        width: 80%;
        overflow: auto;
    }

    .checkBoxDiv {
        margin: 30px 0;

        input {
            transform: scale(3);
        }

        p {
            font-size: 16px !important;
        }
    }
}

.modalBgArticle {
    max-height: 70vh;
    overflow-y: auto;


    .tableModal {

        .codeCol {
            width: 80px;
        }

        .codeLibele {
            width: 350px;
        }

        .codeQtyCmd {
            width: 35px;
            text-align: center;
        }

        .codePrix {
            width: 50px;
            text-align: center;
        }

    }

    input {
        width: 100%;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {

        opacity: 1;

    }

    select {
        border-radius: 5px;
        background-color: rgb(235, 235, 235);
    }

}

.accordionComponent {
    width: fit-content;
    margin: 15px 0;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.accordionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(220, 205, 205);
    color: black;
    border-radius: 5px 5px 0 0;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 500;
}

.accordionHeader[aria-expanded="true"] {
    border-radius: 5px;
    transition: border-radius 1s;
}

.accordionContent {
    overflow: hidden;
    max-height: 1000px;
    padding: 0 20px;
    transition: max-height 1s ease-in-out;
}

.accordionContent[aria-expanded="true"] {
    max-height: 0px;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.accordionOpenBtn {
    width: 16px;
    height: 16px;
    align-self: center;
    margin-left: auto;
    transition: all 0.35s ease;
    transform: rotate(0deg);
}

.accordionOpenBtn[aria-expanded="true"] {
    transform: rotate(180deg);
}

.checkBoxDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 12px;
        margin: 5px 0;
        width: 100%;
    }

    input {
        width: 20px;
    }
}

.divUpArticleModal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .divRandom {
        background-color: rgb(220, 205, 205);
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 15px;
        height: 18px;

        input {
            width: 30px;
        }
    }

    .saveRandomBtn {
        border: 2px solid hsl(345deg 100% 47%);
        border-radius: 5px;
        padding: 3px 7px;
        background-color: transparent;
        transition: background-color 0.3s ease, color 0.3s ease;
        text-wrap: nowrap;
    }

    .deleteRandomBtn {
        margin-left: 10px;
    }

    .saveRandomBtn:hover {
        color: white;
        background-color: hsl(345deg 100% 47%);
    }
}

.submitArticle {
    border: 2px solid hsl(345deg 100% 47%);
    border-radius: 5px;
    padding: 3px 7px;
    background-color: transparent;
    position: absolute;
    right: 30px;
    bottom: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;

}

@media only screen and (hover: none) and (pointer: coarse) {
    .submitArticle {
        position: inherit;
        font-size: 20px;
    }
}