.modalBgBarCode {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    padding: 20px;

    .codeBarsize {
        height: 150px;
        filter: blur(5px);
    }
    .codeBarsize:hover {
        filter: blur(0px);
        /* height: 150px; */
    }

    .centerP {
        text-align: center;
    }

}